.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #fff;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 50px;
  }
  
  .footer-bottom p {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }

  ul {
    list-style: none;
  }
  

  .copyrigt-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyrigt {
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .text-left,
    .text-center,
    .text-right {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  
  